*.apk
*.ap_
*.aab

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
*.iws

# Keystore
*.jks
*.keystore
keystore.properties

# OS
.DS_Store
Thumbs.db

# Local
local.properties